<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
  <title>Poll.Pizza | Create</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/material.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="icon" href="favicon.ico">
  <link rel="icon" sizes="192x192" href="pizza_192x192.png">
  <link rel="icon" sizes="128x128" href="pizza_128x128.png">
  <link rel="apple-touch-icon" href="pizza_180x180.png">

  <!-- Android Web App Meta -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#f7cf6d">
  <!-- Apple Web App Meta -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#f7cf6d">
  <meta name="apple-mobile-web-app-title" content="Poll.Pizza">
  <link rel="apple-touch-startup-image" href="pizza_load.png">

</head>
<body class="pt-4">

  <div class="navbar navbar-dark fixed-top bg-primary toolbar-waterfall" id="navbar">
    <button aria-controls="navdrawer" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawer" data-toggle="navdrawer">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-auto" href="index.html" target="_self"><i class="material-icons text-secondary">&#xE552;</i> Poll.Pizza</a>
  </div>
  <div class="navdrawer" id="navdrawer" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="navdrawer-content">
      <div class="d-flex flex-column min-height">
        <div class="navdrawer-header">
          <a class="navbar-brand px-0" href="index.html" target="_self"><i class="material-icons text-secondary">&#xE552;</i> Poll.Pizza</a>
        </div>
        <nav class="navdrawer-nav">
          <a class="nav-item nav-link" href="index.html" target="_self">
            <i class="material-icons mr-md">&#xE88A;</i> <strong>Home</strong>
          </a>
          <a class="nav-item nav-link active" href="create.html" target="_self">
            <i class="material-icons mr-md">&#xE01D;</i> <strong>Create A Poll</strong>
          </a>
          <div class="navdrawer-divider"></div>
          <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#nav_example">
            <i class="material-icons mr-md">&#xE6C5;</i> <strong>Example Poll</strong>
          </a>
          <div class="collapse pb-sm " id="nav_example">
          <a class="nav-item nav-link pl-lg text-black-secondary" href="vote.html?poll=pizza" target="_self"><span class="font-weight-normal">Pizza Vote</span></a>
          <a class="nav-item nav-link pl-lg text-black-secondary" href="result.html?poll=pizza" target="_self"><span class="font-weight-normal">Pizza Results</span></a>
          </div>
        </nav>
        <div class="mt-auto">
          <div class="navdrawer-divider mt-no"></div>
          <div class="navdrawer-nav">
            <a class="nav-item nav-link text-muted">
              <i class="material-icons mr-md text-muted">&#xE80C;</i> s3490602
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5" ng-app="createPizza" ng-controller="pizzaCtrl">

  <h3 class="mb-3">New Poll</h3>

  <div class="{{alertClass}}" ng-bind="result"></div>

    <div id="createForm">

      <form>
        <fieldset>

          <!-- Input: Title -->
          <div class="form-group">
            <div class="floating-label textfield-box">
              <label for="title">Title *</label>
              <input id="title" ng-model="title" type="text" placeholder="Best Pizza Poll" class="form-control {{titleClass}}">
              <div class="invalid-feedback" ng-bind="titleError"></div>
            </div>
          </div>

          <!-- Input: Question -->
          <div class="form-group">
            <div class="floating-label textfield-box">
              <label for="question">Question *</label>
              <input id="question" ng-model="question" type="text" placeholder="Which pizza do you like?" class="form-control {{questionClass}}">
              <div class="invalid-feedback" ng-bind="questionError"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <!-- Input: URL -->
                <div class="floating-label textfield-box">
                  <label class="control-label" for="url">URL Text *</label>
                  <input id="url" ng-model="url" type="text" placeholder="Auto" class="form-control {{urlClass}}">
                  <div class="invalid-feedback" ng-bind="urlError"></div>
                </div>
              </div>
              <div class="col">
                <!-- Input: Creator -->
                <div class="floating-label textfield-box">
                  <label for="creator">Your Name</label>
                  <input id="creator" ng-model="creator" type="text" placeholder="Anonymous" class="form-control {{creatorClass}}">
                  <div class="invalid-feedback" ng-bind="creatorError"></div>
                </div>
              </div>
            </div>
          </div>

          <h3 class="h5 mt-4">Options <small> (at least two)</small></h3>

          <!-- Input: Option 1 -->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon bg-secondary text-white pt-3 pb-3 pl-4 pr-4">A</span>
              <input id="option_1" ng-model="option_1" class="form-control {{option_1Class}}" placeholder="Margherita" type="text">
              <div class="invalid-feedback" ng-bind="option_1Error"></div>
            </div>
          </div>

          <!-- Input: Option 2 -->
          <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon bg-secondary text-white pt-3 pb-3 pl-4 pr-4">B</span>
              <input id="option_2" ng-model="option_2" class="form-control {{option_2Class}}" placeholder="Hawaiian" type="text">
              <div class="invalid-feedback" ng-bind="option_2Error"></div>
            </div>
          </div>

          <!-- Input: Option 3 -->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon bg-secondary text-white pt-3 pb-3 pl-4 pr-4">C</span>
              <input id="option_3" ng-model="option_3" class="form-control {{option_3Class}}" placeholder="Supreme" type="text">
              <div class="invalid-feedback" ng-bind="option_3Error"></div>
            </div>
          </div>

          <!-- Input: Option 4 -->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon bg-secondary text-white pt-3 pb-3 pl-4 pr-4">D</span>
              <input id="option_4" ng-model="option_4" class="form-control {{option_4Class}}" placeholder="Meatlovers" type="text">
              <div class="invalid-feedback" ng-bind="option_4Error"></div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
              <button id="submit" ng-click="insertData()" class="btn btn-success float-right">Create</button>
          </div>

        </fieldset>
      </form>

    </div>

  </div><!-- /.container -->

  <div class="container mt-4">
    <footer class="footer">
      <hr />
      <p>&copy; Poll.Pizza 2017</p>
    </footer>
  </div><!-- /.container -->

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="app/pizza-create.js"></script>

</body>
</html>